<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Componentes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="componentes/saludo.js"></script>
    <script src="componentes/cont.js"></script>
</head>
<body>

    <!--separar nuestro sitio web en diferentes secciones para que la lógica quede toda
    separada, es lo que se logra con los componentes-->

    <div id="app">

        <h1>{{mensaje}}</h1>

        <saludo></saludo>
        <contador></contador>

    </div>

    <script>



        new Vue({
            el: '#app',
            data: {
                mensaje:'jelou da'
            }
        })

    </script>

</body>
</html>