<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Práctica de Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5" id="app">

        <h2>{{titulo}}</h2>

        <input type="text" class="form-control my-3" v-model="nuevaTarea" @keyup.enter="agregarTarea">
        <button class="btn btn-primary" @click="agregarTarea">Agregar</button>

        <div class="mt-3" v-for="(item,index) of tareas">
            <div  role="alert" :class="['alert', item.estado ? 'alert-success' : 'alert-danger']">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                       {{index}} - {{item.nombre}} - {{item.estado }}
                    </div>
                    <div>
                        <button class="btn btn-success btn-sm" @click="editarTarea(index)">OK</button>
                        <button class="btn btn-danger btn-sm" @click="eliminar(index)">X</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>