<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Learn with Vue</title>
</head>
<body>

    <!--el contenido que se trabaja con vue deber estar encerrado en un container-->
    <div id="app">

        <!--llamando a titulo dentro de data gracias a la interpolación de Vue-->
        <h1>{{titulo}}</h1>

        <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
        <!-- v-model te permite crear una conección directa entre el input y javascript-->

        <button @click="agregarFruta">Agregar</button>

        <ul>
            <!--Declarando un elemento iterativo, en este caso li, se trabaja con una de
            las propiedades de Vue, similar al ciclo for-->
                <!--<li v-for="fr of frutas">{{fr}}</li>-->
                <!--<li v-for="men of menestras">{{men}}</li>Estamos llamando a cada uno de los objetos del arreglo-->
                <!--<li v-for="men of menestras">{{men.cantidad}}</li>Estamos llamando a la cantidad, atributo, de cada uno de los objetos del arreglo-->
            <!--llamando a las dos propiedades separadas por un guión-->
            <li v-for="men of menestras">
                <input type="number" v-model.number="men.cantidad">
                <button @click="men.cantidad++" >+</button>
                <button @click="men.cantidad--" >-</button>
                 : {{men.nombre}}
                <span v-if="men.cantidad === 0"> - sin stock</span>
            </li>
        </ul>

        <h4>TOTAL : {{sumarMenestras}}</h4>
        <!--como es una propiedad computada, a pesar de que se comporta como una función,
         al llamarla no es necesario poner los paréntesis-->

    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="01.js"></script>
</body>
</html>