<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Introducción a Vuex</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.2/dist/vuex.js"></script>
</head>
<body>

    <div id="app">

        <titulo></titulo>

    </div>

    <script>

        Vue.component('titulo',{

            template: `
            <div>
                <h1>numero {{$store.state.numero}}</h1>
                <hijo></hijo>
            </div>
            `
        })

        Vue.component('hijo',{
            template: `
            <div>
                <!--<button @click="$store.commit('aumentar')">+</button>-->
                <button @click="aumentar">+</button>
                <button @click="disminuir(2)">-</button>
                <button @click="obtenerCursos">Obtener Cursos</button>
                <h1>numero {{numero}}</h1>
                <ul v-for="item of cursos">
                    <li>
                        {{item.nombre}}
                    </li>
                </ul>
            </div>

            `,
            /*computed:{
                numero(){
                    return store.state.numero
                }
            }*/
            computed:{
                ...Vuex.mapState(['numero','cursos'])
                /*dentro de los paréntesis va a tomar un arreglo, y
                dentro del arreglo va a llamar a lo que esté dentro de state o lo que
                se quiera usar dentro de un componente*/
            },
            methods:{
                ...Vuex.mapMutations(['aumentar','disminuir']),
                ...Vuex.mapActions(['obtenerCursos'])
            }
        })

        const store = new Vuex.Store({
            state:{ //para declarar datos
                numero: 15,
                cursos:[]
            },
            mutations:{ //para declarar métodos
                aumentar(state){
                    state.numero++
                },
                disminuir(state,n){//pasando un parámetro
                    state.numero-=n
                },
                llenarCursos(state,cursosAccion){
                    state.cursos=cursosAccion
                }
            },
            actions:{ //llama a una API o a una base de datos
                obtenerCursos: async function ({commit}){
                    const data= await fetch('cursos.json')
                    const listCursos= await data.json()
                    commit('llenarCursos',listCursos)
                }
            }
        })

        new Vue({
            el: '#app',
            store: store //llamando a store dentro de la instancia de vue
        })

    </script>

</body>
</html>