<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Propiedades Computadas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container" id="app">
        <h1>{{mensaje}}</h1>

        <!--Nuestra primera propiedad computada; para llamarlo solo se pone el nombre,
            porque es como trabajar en el data con alguna lógica, no llamarlo de la
            siguiente forma  {{invertido()}} a pesar de que parece una función  -->

        <h2>invertido: {{invertido}}</h2>

        <input type="text" class="form-control" v-model="mensaje">
        <hr>  <!--para separar un poco-->
        <button class="btn btn-primary" @click="contador++">+</button>
        <button class="btn btn-danger" @click="contador--">-</button>
        <h3>{{contador}}</h3>
        <div class="progress">
        <!--A style le anteponemos dos puntitos para que pueda ser trabajado con Vue-->
            <div class="progress-bar" role="progressbar"
                 :style="{'width': contador+'%'}" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100" :class="color">
                <!--antes estaba así style="width : 25%"-->
                {{contador}}%
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app1.js"></script>
</body>
</html>